######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

.flattened-pom.xml

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

### JRebel ###
rebel.xml

application-my.yaml

/wms-ui-app/unpackage/
/wms-ui/**/node_modules/
/wms-ui/**/.vite/
/wms-ui/**/dist/
/wms-ui/**/dist-ssr/
/wms-ui/**/auto-*.d.ts
/wms-ui/**/.env
/wms-ui/**/.env.*
**/.DS_Store
